body {
    background-color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.wrapper > * {
    border: 3px solid black;
    border-radius: 10px;
    background-color: lightgray;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

  .one {
    grid-column: 1;
    grid-row: 1;
  }
  .two {
    grid-column: 2;
    grid-row: 1;
  }
  .three {
    grid-column: 3;
    grid-row: 1;
  }

.img {
    height: 100px;
    width: 100px;
}